
<h2> 
	<%= link_to 'Previous Month', diary_entries_path(day: @day -1.month), :class => 'btn btn-small' %><%=@day.strftime("%B %Y") %>
	<%= link_to 'Next Month', diary_entries_path(day: @day + 1.month), :class => 'btn btn-small' %></h2>

	<table class="table table-bordered">
		<% (@day.beginning_of_month.beginning_of_week..@day.end_of_month.end_of_week).each do |day| %>

			<% entries = @diary_entries_month.select do | entry |
				entry.created_at > day.beginning_of_day && entry.created_at < day.end_of_day	
			end %>

			<% is_happy = entries.any?{|entry| entry.happy?} %>

 			<% if day.monday? %>
 				<tr>	
 			<% end %>
 
 					<td><%= link_to day.day , diary_entries_path(day: day) %>
					<%	if @days_of_entries.include?(day) %>
		 			 		&#x2713; 
		 				 <% if is_happy %>
		 			 		:)
		 				 <% else %>
		 			 		:(
		 				 <% end %>
		 			<%end%>
		 			 </td>
 		 	
		<%end%>
	</table>
		
